.content, #menu {
	text-align: center;
	padding: 5px;
}

#logo, p {
	text-align: center;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 10px;
}

label {
    display: block;
}

.field {
	padding: 20px;
	padding-top: 0px;
}

#menu a {
	font-size: 150%;
	box-shadow: 1px 1px #666;
	color: #333;
	border-radius: 5px;
	background-color: #eee;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
table {
	padding: 10px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   width: 80%;
   position: absolute;
   left: 10%;
   top: 0;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#menu a {
		display: block;
		margin-bottom: 5px;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: 1px solid #ccc; }
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 40%;
		padding-bottom: 2px;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "University"; }
	td:nth-of-type(2):before { content: "Location"; }
	td:nth-of-type(3):before { content: "Contact Name"; }
	td:nth-of-type(4):before { content: "Chapter Email"; }
	.iframe-container iframe {
		left: 0;
		width: 100%;
	}
}
