.content, #menu {
	text-align: center;
}

#logo {
	text-align: center;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 10px;
}

label {
    display: block;
}

.field {
	padding: 20px;
	padding-top: 0px;
}

#menu > a {
	font-size: 150%;
	box-shadow: 1px 1px #666;
	color: #333;
	border-radius: 5px;
	background-color: #eee;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
