.content, #menu {
	text-align: center;
}

#logo {
	text-align: center;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

label {
    display: block;
}

.field {
	padding: 20px;
	padding-top: 0px;
}
