<!doctype html>
<html>
<head>
	<title>CollHome: {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://acmwm.github.io/css/main.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<section class="header">
	<div id="logo">
		<img src="{{ url_for('static', filename='CollHome.png') }}" />
	</div>
	{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  	{% endfor %}
	<div id="menu">
		<a href="/">Home</a>
		<a href="/chapters">Chapters</a>
		<a href="/register">Register a New Chapter</a>
	</div>
</section>
<section class="content">
	{% block content %}{% endblock %}
</section>

</body>
</html>
