<!doctype html>
<html>
<head>
	<title>CollHome: {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://acmwm.github.io/css/main.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<section class="header">
	<div id="logo">CollHome</div>
</section>
<section class="content">
	{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  	{% endfor %}
	{% block content %}{% endblock %}
</section>

</body>
</html>
