{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div id="chapters">
	<h1>Chapters</h1>
	<div class="iframe-container">
	<iframe src="https://www.google.com/maps/d/embed?mid=1OK4YaYLvohyFYjJD0TXAabz1r-JPvwwu"></iframe>
	</div>
	{% if rows %}
	<table>
		<thead>
			<th>University</th>
			<th>Location</th>
			<th>Contact Name</th>
			<th>Chapter Email</th>
		</thead>
		{% for r in rows %}
		<tr>
			<td>{{ r.university }}</td>
			<td>{{ r.location }}</td>
			<td>{{ r.contactname }}</td>
			<td>{{ r.chapteremail }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}
